<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Eleves</a>
      <a mat-list-item href="#">Professeurs</a>
      <a mat-list-item href="#">Salles</a>
      <a mat-list-item href="#">Planning</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Académie de Musique</span>
      <span class="spacer"></span>
      <a *ngIf="isAuth" style="cursor:pointer" (click)="onLogout()" >Déconnexion</a>
      <a *ngIf="!isAuth" routerLink="auth/signup">Créer un compte</a>
      <a *ngIf="!isAuth" routerLink="auth/login">Connexion</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
